@model IEnumerable<InAndOut.Models.Item>

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Add Item</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-4">
                        ITEMNAME
                    </div>
                    <div class="col-4">
                        BORROWER
                    </div>
                    <div class="col-4">
                        LENDER
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        TEXTBOX HERE
                    </div>
                    <div class="col-4">
                        TEXTBOX HERE
                    </div>
                    <div class="col-4">
                        TEXTBOX HERE
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            CREATE BUTTON
                        </div>
                        <div class="col">
                            CREATE BUTTON
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

